<h1>Edit Your App</h1>

<div class="container">
  <div class="row">
    <div class="col-md-11">
      <strong><p>Enter information below:</p></strong>
        <%= render partial: 'form', locals: { app: @app, user: @user } %>
    </div>
  </div>
</div>
