<div class="container-fluid">

  <div class="row">
  </div>
  <div class="jumbotron">
    <center><h1>TrackMetrics</h1></center>
    <center><h2>Track activity on the web.</h2></center>
  </div>

  <div class="row">
    <div class="col-sm-4">
      <h3>Track your friends.</h3>
        <p>Every wonder where they shop?</p>
    </div>
    <div class="col-sm-4">
      <h3>Track your family.</h3>
        <p>Exactly how much porn does your significant other watch?</p>
    </div>
    <div class="col-sm-4">
      <h3>Track your co-workers.</h3>
        <p>Maybe it's time to bring Karl down a peg or two.</p>
    </div>
  </div>
  <div class="row">
    <center><h1>Sign up today and start tracking!</h1></center>
  </div>

</div>
